* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.principal-content {
    width: 80%;
    height: 80vh;
    overflow: hidden;
}

.principal-title {
    text-align: center;
    margin: 5rem 0 2rem;
    font-size: 3rem;
}

/* Div form */
.label-input {
    font-size: 1.2rem;
}

.label-input input {
    width: 93%;
    height: 2rem;
    margin-top: .5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #5442DF;
    border-radius: .5rem;
}

/* Button type submit */
button[type="submit"] {
    width: 100%;
    height: 3.5rem;
    margin-top: 3.5rem;
    padding: 0.5rem 1rem;
    background-color: #5442DF;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

button[type="submit"]:hover, .principal-link:hover {
    transition: .3s;
    box-shadow: 1px 1px 20px 2px #5442DF;
}

/* Form */
form {
    margin: 5rem auto 0;
    padding: 1rem;
    width: 35rem;
}

/* Table */
.table {
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
}

.table thead {
    background-color: #5442DF;
}

.btn-table {
    height: 2.2rem;
    color: #fff;
    margin: 0 .2rem 0 0;
    cursor: pointer;
}

.btn-table-edit {
    background-color: #5442DF;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
}

.modal-dialog {
    margin-top: 10rem;
    box-shadow: 2px 2px 20px 2px #0000005c;
    border-radius: .5rem;
}

.modal-content {
    color: #fff;    
    background-color: #181818;
}

.modal-header button {
    outline: none;
}

.modal-header span {
    color: #fff;
}

.modal-body {
    padding: 2rem;
}

.modal-body form {
    width: auto !important;
    margin: 0 auto !important;
}

.modal-div {
    margin: 1.5rem 0;
}

.modal-div label {
    margin: 0;
}

.modal-body form input {
    height: 3rem !important;
    background-color: transparent;
    color: #fff;
    border: 1px solid #5442DF;
}

.modal-body form input:focus {
    background-color: transparent;
    color: #fff;
    border: 1px solid #5442DF;
}

.modal-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-cancel {
    background-color: transparent !important;
    border: 1px solid #5442DF !important;
}

.modal-btn button {
    width: 48%;
    height: 3rem !important;
}

.modal-dialog.modal-dialog-centered.modal {
    position: absolute;
    z-index: 100;
    width: 20rem;
    height: 20rem;
    left: 50%;
    top: 50%;
    background-color: rgba(48, 48, 157, 0.426);
    transform: translate(-50%, -50%);
}

.result-card {
    width: 32%;
    height: auto;
    margin: 1rem auto 0;
    display: flex;
    justify-content: space-around;
}

.result-card img {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
}

.result-card div {
    width: 70%;
    margin-left: 4rem;
}

.result-card p {
    margin: .4rem 0;
}

.not-found p {
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
}

/* Back link */
.return-page {
    position: absolute;
    inset: 0 auto auto 0;
    padding: 2rem;
}

.return-page img:hover {
    transition: .2s;
    transform: scale(1.1);
}

/* Footer */
footer {
    position: absolute;
    inset: auto 1rem 1rem auto;
    color: #5442DF;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #5442DF;
}
