.principal-content {
    display: flex;
}

.principal-info, .principal-image {
    width: 50%;
    height: 100%;
}

/* Div principal-buttons */
.principal-buttons {
    margin-top: 3rem;
}

.principal-link {
    width: 24rem;
    height: 3.5rem;
    text-decoration: none;
    margin: 2.5rem auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #5442DF;
    color: #fff;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Div principal-image */
.principal-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-image img {
    width: 35rem;
}